/*通用*/
body {
	background-image: url('iron_block.png');
}

h2 {
	font-size: 1.5em;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*简要介绍*/
#intro {
	position: absolute;
	margin-left: 60%;
	width: 35%;
}

#briefIntro {
	background-image: url('ice.png');
	padding: 3px 20px;
	margin-bottom: 20px;
}

/*个人照片*/
#photo {
	border: 24px solid;
	border-image: url('border.png') 24 24 round;
}

#photo img {
	width: 100%;
	margin-bottom: -4px;
}

/*时间线*/
#exp {
	margin-left: 10%;
	width: 40%;
	font-size: 100%;
	color: white;
	border: 24px solid;
	border-image: url('border.png') 24 24 round;
}

#exp div {
	background-color: black;
	margin:-20px 0 -40px 0;
	padding: 0 15%;
}

#timeline {
	list-style: none;
	margin: 50px 0 30px 40px;
	padding-left: 30px;
	border-left: 8px solid white;
}

#timeline li {
	margin: 40px 0;
	position: relative;
}

.content{
	font-size: 1.3em;
	position: relative;
}

.date {
	margin-top: -10px;
	top: 50%;
	left: -100px;
	font-size: 1.3em;
	line-height: 20px;
	position: absolute;
}

.circle {
	margin-top: -10px;
	top: 50%;
	left: -44px;
	width: 10px;
	height: 10px;
	background-color: red;
	border: 5px solid white;
	border-radius: 50%;
	display: block;
	position: absolute;
}